body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    border: 1px solid gray;
    flex:auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.operations{
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 400px;
    border: 2px solid black;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button{
    width: 70px;
    height: 80px;
    font-size: 30px;
}

.C{
    background-color: red;
    color: white;
}
#operation{
    background-color: blue;
    color: white;
}

.equal{
    background-color: green;
    color: white;
}